
    <!-- Inclui o arquivo ejs com os dados do cabeçalho. Este recurso do módulo
          ejs é conhecido como partials e serve para definir possíveis códigos
          que serão reutilizados com maior frequência, evitando a repetição
          desnecessária. -->
    <% include ../header %>
    <header>
      <h1>Ntalk</h1>
      <h4>Bem-vindo!</h4>
    </header>

    <section>
      <form action="/entrar" method="post">
        <input type="text" name="nome" placeholder="Seu nome">
        <br>
        <input type="text" name="email" placeholder="Seu e-mail">
        <br>
        <button type="submit">Entrar</button>
      </form>
    </section>

    <!-- Inclui o arquivo ejs com os dados do rodapé -->
    <% include ../footer %>
